<!-- Title -->

<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>

<h1>Live 214</h1>
<p>A look into the Dallas, Texas housing market.</p>

</body>
</html>

<!-- Header_Buying -->

<div class="header">
    <h1>Buying</h1>
<div class="navbar">
    <a href="#">Housing Prices</a>
  </div>

<!-- Header_Renting -->

<div class="header">
    <h1>Renting</h1>
<div class="navbar">
    <a href="#">Rental Prices</a>
  </div>

<!-- Image -->

<img src="dallas.png" width="2000" height="1000">





<!-- CSS Internal Styling -->

<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: silver;
  text-align: center;
  font-weight: bold;
}

h1 {
  color: navy;
  margin-top: 40px;
  text-align: center;
  
}
</style>
</head>
<body>

</body>
</html>

